.sidebar .scroll{
    max-height: 180px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar .scroll::-webkit-scrollbar{
  width:5px !important;
  height: 5px !important;
}
.sidebar .scroll::-webkit-scrollbar-thumb{
  background: #ccc;
}

.range-slider{
  height: 2px !important;
  
}
.range-slider .range-slider__thumb{
  width: 10px !important;
  height: 10px !important;
}

.range-slider .range-slider__thumb, .range-slider .range-slider__range{
  background: #ff5252 !important;
}